html {
    font-size:32px;
}

svg.css-19bqh2r{
    width: 40px;
    height: 40px;
}

.css-1rtrksz{
    height: 2.25rem;
    width: 22rem;
  }

.news-card{
    padding:1rem;
    margin:1rem auto;
    width:95%;
}